<div>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li class="active">{{id}}</li>
  </ol>
  <div class="page-header">
    <h1>{{username}} <small>User</small></h1>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-2"><b>Email</b></div>
      <div class="col-sm-10">{{email}}</div>
    </div>
  </div>
  <section>
    <h2>Passwords</h2>
    <div ng-repeat="network in networks">
      <div><b>Network:</b> {{network.name}}</div>
      <div class="panel panel-warning" ng-if="!network.hasPassword">
        <div class="panel-body">
          No password for this network
          <button class="btn-link" ng-click="createPassword(network.id)">Create new password</button>
        </div>
      </div>
      <div class="panel panel-info" ng-if="network.hasPassword">
        <div class="panel-heading">{{network.password.id}}</div>
        <div class="panel-body">
          <div><b>Valid Until:</b> {{network.password.validTo}}</div>
          <div class="panel panel-primary" ng-if="network.password.password">
            <div class="panel-heading"><b>Password</b></div>
            <div class="panel-body"><pre>{{network.password.password}}</pre></div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-danger" ng-click="deletePassword(network.password.id)">Delete</button>
        </div>
      </div>
    </div>
  </section>
</div>
